* {
background: #000;
   
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    background-color: black;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}
.item {
    margin: 5px;
    width: 400px;
    border-radius: 10px;
}
.container h1{
    text-align: center;
}

.container img:hover{
    transform: scale(0.8);
}
.heading {
    text-align: center;
    color: peachpuff;
}
.container a{
    text-decoration: none;
    color: red;
}
.container a:hover{
    color: seagreen;
}